.home-container {
    color: #eee;
    background-color: #000;
    min-height: 100vh;
    padding: 1rem;
  }
  
  .home-title {
    text-align: center;
    margin-top: 1rem;
  }
  
  .home-section {
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
  }
  