.swipe-page {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: center;
    padding-top: 100px;
    background-color: #000;
    min-height: 100vh;
    color: #fff;
  }
  
  .card-container {
    position: relative;
    width: 350px;
    height: 550px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .swipe {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .card {
    position: relative;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 18px 53px -5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    border: none;
    transition: transform 0.2s ease;
  }
  
  .card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: 1;
  }
  
  .card h3 {
    margin: 10px;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    z-index: 2;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .action-btn {
    width: 60px;
    height: 60px;
    border: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .action-btn:active {
    transform: scale(0.9);
  }
  
  .action-btn.dislike {
    background-color: #f44336;
  }
  
  .action-btn.like {
    background-color: #4caf50;
  }
  
  .action-btn.watched {
    background-color: #2196f3;
  }
  
  .action-btn.dislike:hover {
    background-color: #d32f2f;
  }
  
  .action-btn.like:hover {
    background-color: #388e3c;
  }
  
  .action-btn.watched:hover {
    background-color: #1976d2;
  }

  .star-icon {
    font-size: 2rem;
    margin: 5px;
    margin-bottom: 20px;
    color: #888;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .star-icon.filled {
    color: #ffc104; 
  }
  
  .rating-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .rating-modal-content {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    color: #fff;
  }
  
  .stars-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  
  .rating-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .rating-buttons button {
    background-color: #2196f3;
    border: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  .rating-buttons button:hover {
    background-color: #1976d2;
  }
  
  @media (max-width: 768px) {
    .card-container {
      max-width: 90vw;
      height: 400px;
    }
  
    .card {
      height: 90%;
      max-width: 90vw;
    }
  
    .card h3 {
      font-size: 1.2rem;
    }
  
    .action-btn {
      width: 50px;
      height: 50px;
      font-size: 14px;
    }
  }
  